body
{ 
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

/* Navbar related css*/
.navbar > ul{
    list-style:none;
    overflow:hidden;
    background-color: #4B8E54;
    color:white;
    padding:0%;
    margin: 0%;
    margin-block: 0em;
}    

.navbar > ul > li{
   float:left;
   border-right:solid 2px white;
   padding: 7px;
   text-align: center;
   min-width: 7%;
}
.navbar > ul > li:hover
{
    background-color: rgb(152, 204, 152);
}

.navbar > ul > li > a{
    text-decoration: none;
    color: white;
}

/* Page list related css*/
.pageList > ul{
    list-style:none;
    overflow:hidden;
    background-color: rgb(28, 37, 85);
    color:white;
    padding:0%;
    margin: 0%;
    width: 100px;
   margin-block: 0em;
}    

.pageList > ul > li{
   border-bottom:solid 2px white;
   padding: 7px;
   text-align: center;
   min-width: 7%;
}
.pageList > ul > li:hover
{
    background-color: rgb(152, 204, 152);
}

.pageList > ul > li > a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%;
}

img.content{
    max-width: 45%;
    max-height: 100%;
    padding: 2%;
}

img.thumbnail{
    max-width: 20%;
    max-height: 100%;
    padding: 2%;
} 
.green-heading {
    color: black;
}
.blue-heading {
    color:black;
}    
.yellow-heading {
    color: yellow;
}        
.red-paragraph {
    color: black;
}    

.java-paragraph{
    background-color: rosybrown;
}    
.bold-paragraph {
    font-weight: 800;
   }
.italic-paragraph  {
    font-style: italic;
   }
.java-hyrje { 
   border: 3px black solid;
   background: rgb(153, 130, 125);
}
.java-hyrje1 {
    border: 3px black solid;
    background: rgb(172, 162, 160); 
}
.hyrje {
    border: 2px rgb(16, 143, 54) solid;
    background: rgb(245, 255, 242);
    padding: 5px;
    margin: 5px 0px;
}    
.smallbasic-paragraph {
    background-color: rosybrown;
}
.black-paragraph{
    color: black;
}    
.python-hyrje {
    border: 3px black solid;
    background: rgb(153, 130, 125);  
}
.C-hyrje {
 border: 3px black solid;
 background: rgb(189, 167, 162); 
}
.black-paragraph {
    color: black
}
