body
{ 
     font-family:'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* Style the element with the id "myHeader" */
#myHeader {
    background-color: whitesmoke;
    color: black;
    padding: 110px 4px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
  }
  
  /* Style all elements with the class name "city" */
  .city {
    background-color: rgb(110, 195, 250);
    color: white;
    padding: 10px;
  } 
  .navbar{
  background-color: MediumSeaGreen;    
  padding: 12px;
  }
 .navbar a{ 
    text-decoration: none;
    color: white;
    padding: 10px;
 }

.hyrje{
  border: 10px  MediumSeaGreen solid;
  padding: 5px;
  margin: 4px 2px;
}

 
