body
{ 
     font-family:'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* Style the element with the id "myHeader" */
#myHeader {
    background-color: rgb(171, 171, 223);
    color: black;
    padding: 120px 4px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px #FF0000;
  }
  
  /* Style all elements with the class name "city" */
  .city {
    background-color: rgb(110, 195, 250);
    color: white;
    padding: 10px;
    text-shadow: 2px 2px #FF0000;
  } 
  .navbar{
  background-color: rgb(80, 80, 201);    
  padding: 12px;
  ;
  }
 .navbar a{ 
    text-decoration: none;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px #FF0000;
 }

.hyrje{
  padding: 15px;
  margin: 4px 2px;
}
.container {
}
.norvegjia {
  position: absolute;
 
}
img {
  height:auto;
  margin: 10px;
}

element.style {
  color: white;
  text-decoration: none;
  background: blue;
}
body {
  color: rgb(12, 8, 8);
  border: 1px solid gray;
  padding: 8px;
}
p {
  text-shadow:   1px black;
  text-decoration-line: underline;
}