body
{
  font-family: Georgia,Times,Arial,Helvetica,sans-serif;
}
/* Style the element with the id "myHeader" */
#myHeader {
    background-color: rgb(33, 70, 133);
    color: black;
    padding: 300px 0px;
    text-align: center;
    vertical-align: middle;
  }

  /* Style all elements with the class name "city" */
  .city {
    background-color: rgb(110, 195, 250);
    color: white;
    padding: 10px;
    text-shadow: 2px 2px #FF0000;
  }
  .navbar{
  background-color: rgb(96, 96, 163);
  padding: 12px;
  ;
  }
 .navbar a{
    text-decoration: none;
    color: white;
    padding: 10px;
 }

.hyrje{
  padding: 15px;
  margin: 4px 2px;
}
.container{
}
.norvegjia {
  position: absolute;

}
img {
  height:auto;
  /* margin: 10px; */
}

element.style {
  color: white;
  text-decoration: none;
}
body {
  color: rgb(12, 8, 8);
  /* border: 1px solid gray;
  padding: 8px; */
}
p {
  text-shadow:   3px black;
}
body{  background-color: rgb(198, 212, 224);
}
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .flip-box {
    background-color: transparent;
    width: 400px;
    height: 329px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: rgb(141, 248, 198);
    color: rgb(15, 14, 14);
    transform: rotateX(180deg);
  }
  div.a {
    text-align: center;
  }
  table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    border: 60%;
    padding: 10px;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: black;
    color: white;
  }