body
{ 
     font-family:'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* Style the element with the id "myHeader" */
#myheader {
    background-color: #e4c49b;
    padding: 85px 0px;
    text-align: center;
    margin: 6px;
    vertical-align: middle;
  }
  
  /* Style all elements with the class name "city" */
  .city {
    background-color: rgb(110, 195, 250);
    color: white;
    padding: 10px;
  } 
  .navbar{
  background-color: #e4c49b;  
  padding: 10px;
  }
 .navbar a{ 
    text-decoration: none;
    color: white;
    padding: 10px;
    color:white;
    text-decoration: none;
}
  .hyrje{
  border: 5px rgb(57, 80, 90) solid;
  padding: 6px;
  margin: 5px 1px;
}
