body
{   font-family: "Times New Roman", Times, serif;
}
/* Style the element with the id "myHeader" */
#myHeader {
    background-color:  rgba(158, 157, 157, 0.479);
    color: black;
    padding: 130px 1px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    
  }

  /* Style all elements with the class name "city" */
  .city {
    background-color: rgb(110, 195, 250);
    color: white;
    padding: 10px;
  } 

 .navbar a{ 
    text-decoration: none;
    color: rgb(24, 20, 20);
    padding: 20px;
 }

.hyrje{
  padding: 5px;
  margin: 5px 1px;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 15%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 1100px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}


