body
{   font-family: "Times New Roman", Times, serif;
}
/* Style the element with the id "myHeader" */
#myHeader {
    background-color:  rgb(85, 85, 85);
    color: black;
    padding: 100px 3px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    
  }

  /* Style all elements with the class name "city" */
  .city {
    background-color: rgb(110, 195, 250);
    color: white;
    padding: 10px;
  } 
  .navbar{
  background-color: rgb(253, 231, 231) ;    
  padding: 10px;
  }
 .navbar a{ 
    text-decoration: none;
    color: rgb(24, 20, 20);
    padding: 20px;
 }

.hyrje{
  padding: 5px;
  margin: 5px 1px;
}

