body
{   font-family: "Times New Roman", Times, serif;
}
/* Style the element with the id "myHeader" */
#myHeader {
    background-color:  rgb(219, 202, 202);
    color: black;
    padding: 80px 0px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    
  }
  
  /* Style all elements with the class name "city" */
  .city {
    background-color: rgb(110, 195, 250);
    color: white;
    padding: 10px;
  } 
  .navbar{
  background-color: rgb(218, 202, 202) ;    
  padding: 10px;
  }
 .navbar a{ 
    text-decoration: none;
    color: white;
    padding: 10px;
 }

.hyrje{
  padding: 5px;
  margin: 5px 1px;
}

